EVIDENCIAS AURORA/CRUD.json
[{"id":"f37a50b13b488e5e","type":"tab","label":"CRUD","disabled":false,"info":"","env":[]},{"id":"7f51339f0d673a26","type":"http in","z":"f37a50b13b488e5e","name":"","url":"/users/index","method":"get","upload":false,"swaggerDoc":"","x":160,"y":240,"wires":[["48e6d9a2642df5a7"]]},{"id":"31234fbc98a35130","type":"http in","z":"f37a50b13b488e5e","name":"","url":"/users/insert","method":"post","upload":false,"swaggerDoc":"","x":170,"y":300,"wires":[["4c25499462a70504"]]},{"id":"534b5d78991344f8","type":"http in","z":"f37a50b13b488e5e","name":"","url":"/users/update","method":"put","upload":false,"swaggerDoc":"","x":170,"y":360,"wires":[["a382113e5b733219"]]},{"id":"09ecb46a8773c434","type":"http in","z":"f37a50b13b488e5e","name":"","url":"/users/delete","method":"delete","upload":false,"swaggerDoc":"","x":180,"y":420,"wires":[["82a41e08f929ee95"]]},{"id":"75ac9b7794d63756","type":"sqlite","z":"f37a50b13b488e5e","mydb":"be3190375d5f8f2d","sqlquery":"msg.topic","sql":"","name":"aiot02","x":550,"y":240,"wires":[["566338c384373580","d5c5aa0505a7e9f0"]]},{"id":"48e6d9a2642df5a7","type":"function","z":"f37a50b13b488e5e","name":"getUsers","func":"msg.topic = \"SELECT * FROM users;\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":240,"wires":[["75ac9b7794d63756"]]},{"id":"4c25499462a70504","type":"function","z":"f37a50b13b488e5e","name":"insertUsers","func":"msg.topic = \"INSERT INTO users (username, email, pass) VALUES('\" + msg.payload.email + \"', '\" + msg.payload.pass + \"');\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":300,"wires":[["d85cbfbc7dfcfe81"]]},{"id":"d85cbfbc7dfcfe81","type":"sqlite","z":"f37a50b13b488e5e","mydb":"2f4d36db5f30003f","sqlquery":"msg.topic","sql":"","name":"aiot02","x":550,"y":300,"wires":[["a1911ac27489c05f","d5c5aa0505a7e9f0"]]},{"id":"a382113e5b733219","type":"function","z":"f37a50b13b488e5e","name":"updateUsers","func":"msg.topic = \"UPDATE users SET pass = '\" + msg.payload.pass + \"', email= '\" + msg.payload.email + \"' WHERE id =\"+msg.payload.id+\";\";\nreturn msg; ","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":360,"wires":[["7a8c523385a22c69"]]},{"id":"82a41e08f929ee95","type":"function","z":"f37a50b13b488e5e","name":"deleteUser","func":"msg.topic = \"DELETE FROM users \"+\n \"WHERE id =\"+msg.payload.id+\";\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":420,"wires":[["c3bb27b6440a852a"]]},{"id":"7a8c523385a22c69","type":"sqlite","z":"f37a50b13b488e5e","mydb":"3198484f4949c70a","sqlquery":"msg.topic","sql":"","name":"aiot02","x":550,"y":360,"wires":[["eb241915c1e439a4","d5c5aa0505a7e9f0"]]},{"id":"c3bb27b6440a852a","type":"sqlite","z":"f37a50b13b488e5e","mydb":"948c0f9b7561e5b5","sqlquery":"msg.topic","sql":"","name":"aiot02","x":550,"y":420,"wires":[["eb241915c1e439a4","d5c5aa0505a7e9f0"]]},{"id":"566338c384373580","type":"json","z":"f37a50b13b488e5e","name":"","property":"payload","action":"","pretty":false,"x":690,"y":240,"wires":[["b9a922579b5e8756"]]},{"id":"b9a922579b5e8756","type":"template","z":"f37a50b13b488e5e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en-GB\">\n<head>\n<title>Users</title>\n<meta charset=\"utf-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css\" />\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>;\n<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>;\n<link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css\" />\n<link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css\" />\n<script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js\"></script >\n\n<script type=\"text/javascript\">\n$(function () {\n\nvar db = {{#payload}}{{{.}}}{{/payload}};\n\n$(\"#jsgrid\").jsGrid({\nwidth: \"100%\",\ninserting: true,\nediting: true,\nsorting: true,\npaging: true,\n\ndata: db,\n\nfields: [\n{ title:\"ID\", name: \"id\", type: \"text\", width: 50,readOnly:true },\n{ title:\"Email\", name: \"email\", type: \"text\", width: 50 },\n{ title:\"Password\", name: \"paa\", type: \"text\", width: 50 },\n\n{ title:\"Registration Date\", name: \"record_at\",\n type:\"text\", width: 50, readOnly:true},\n{ type: \"control\" }\n],\n\ncontroller: {\ninsertItem: function(item) {\nreturn $.ajax({\ntype: \"POST\",\nurl: \"/user/insert\",\ndata: item\n});\n},\nupdateItem: function(item) {\nreturn $.ajax({\ntype: \"PUT\",\nurl: \"/user/update\",\ndata: item\n});\n},\ndeleteItem: function(item) {\nreturn $.ajax({\ntype: \"DELETE\",\nurl: \"/user/delete\",\ndata: item\n});\n}\n}\n});\n});\n\n</script>\n</head>\n<body class=\"container\">\n<section class=\"row\">\n\n<div class=\"col-md-6\"></div>\n<div class=\"col-md-6\" id=\"jsgrid\">\n</div>\n</section>\n</body>\n</html>","output":"str","x":860,"y":240,"wires":[["c4e1ba90269cdf91"]]},{"id":"c4e1ba90269cdf91","type":"http response","z":"f37a50b13b488e5e","name":"","statusCode":"","headers":{},"x":1050,"y":260,"wires":[]},{"id":"a1911ac27489c05f","type":"function","z":"f37a50b13b488e5e","name":"getLastSaved","func":"msg.topic = \n\"SELECT * FROM users WHERE id =\"+ \n\"(SELECT MAX(id) FROM users);\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":440,"wires":[["8f65d8bf2598e338"]]},{"id":"8f65d8bf2598e338","type":"sqlite","z":"f37a50b13b488e5e","mydb":"2399c666bc5811cf","sqlquery":"msg.topic","sql":"","name":"aiot02.db","x":920,"y":420,"wires":[["218d469cfd50329c"]]},{"id":"218d469cfd50329c","type":"function","z":"f37a50b13b488e5e","name":"showSaved","func":"var item = {\n    id: msg.payload[0].id,\n    pass: msg.payload[0].pass,\n    email: msg.payload[0].email,\n    record_at: msg.payload[0].record_at\n}\nif (item.id == \"\" || item.pass == \"\" ||\n    item.email ==\"\" || item.record_at ==\"\"){\n    msg.statusCode=400,\n    msg.payload = null;\n    return msg;\n}\nmsg.payload = item;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":340,"wires":[["c4e1ba90269cdf91"]]},{"id":"eb241915c1e439a4","type":"function","z":"f37a50b13b488e5e","name":"reload","func":"msg.payload = msg.result;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":360,"wires":[["c4e1ba90269cdf91"]]},{"id":"d5c5aa0505a7e9f0","type":"debug","z":"f37a50b13b488e5e","name":"debug 10","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":80,"wires":[]},{"id":"be3190375d5f8f2d","type":"sqlitedb","db":"C:\\Windows\\aiot02","mode":"RWC"},{"id":"2f4d36db5f30003f","type":"sqlitedb","db":"C:\\Windows\\aiot02","mode":"RWC"},{"id":"3198484f4949c70a","type":"sqlitedb","db":"C:\\Windows\\aiot02","mode":"RWC"},{"id":"948c0f9b7561e5b5","type":"sqlitedb","db":"C:\\Windows\\aiot02","mode":"RWC"},{"id":"2399c666bc5811cf","type":"sqlitedb","db":"C:\\Windows\\aiot02","mode":"RWC"}]