EVIDENCIAS AURORA/flows1.json
[{"id":"334e1d72ba5d9ccb","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"dd9cafb7d679d538","type":"sqlite","z":"334e1d72ba5d9ccb","mydb":"4f8989463febdb80","sqlquery":"msg.topic","sql":"","name":"Sensores","x":600,"y":200,"wires":[["88bd95b7b79a4fcf","fb3188c0375c61af"]]},{"id":"e704723e7ea25819","type":"inject","z":"334e1d72ba5d9ccb","name":"INSERTAR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO valores(sensor, valor) VALUES('DHT11', '35');","payload":"","payloadType":"date","x":330,"y":140,"wires":[["0821fdb29880a97b"]]},{"id":"88bd95b7b79a4fcf","type":"debug","z":"334e1d72ba5d9ccb","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":200,"wires":[]},{"id":"e4740408872ac715","type":"inject","z":"334e1d72ba5d9ccb","name":"LISTAR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT*FROM valores;","payload":"","payloadType":"date","x":310,"y":220,"wires":[["dd9cafb7d679d538"]]},{"id":"0821fdb29880a97b","type":"function","z":"334e1d72ba5d9ccb","name":"insertar/valores","func":"msg.topic = \"INSERT INTO valores(sensor, valor) VALUES ('DHT11', '\" + Math.ceil(Math.random() * 30) + \"');\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":100,"wires":[["dd9cafb7d679d538"]]},{"id":"caf39e30d47dadb0","type":"inject","z":"334e1d72ba5d9ccb","name":"ACTUALIZAR","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":280,"wires":[["8e0621b82fee72a4"]]},{"id":"8e0621b82fee72a4","type":"function","z":"334e1d72ba5d9ccb","name":"Actualizar/valores","func":"msg.topic=\"UPDATE valores SET valor='\"+Math.ceil(Math.random()*30)+\"' WHERE id=1;\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":300,"wires":[["dd9cafb7d679d538"]]},{"id":"f336789451655ce3","type":"ui_text_input","z":"334e1d72ba5d9ccb","name":"","label":"Sensor","tooltip":"","group":"fcdff6bb74428fb8","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":200,"y":360,"wires":[["8378abfc5979989d"]]},{"id":"ed4df5f6e9468305","type":"ui_text_input","z":"334e1d72ba5d9ccb","name":"","label":"Valor","tooltip":"","group":"fcdff6bb74428fb8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":190,"y":420,"wires":[["9adac8bb77debd77"]]},{"id":"3b11abca59fd16a4","type":"ui_button","z":"334e1d72ba5d9ccb","name":"","group":"fcdff6bb74428fb8","order":3,"width":0,"height":0,"passthru":false,"label":"Insertar","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":480,"wires":[["c308aa0b2d0a04c3"]]},{"id":"8378abfc5979989d","type":"function","z":"334e1d72ba5d9ccb","name":"setSensor","func":"global.set(\"valor, msg.payload\");\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":380,"wires":[[]]},{"id":"9adac8bb77debd77","type":"function","z":"334e1d72ba5d9ccb","name":"setValor","func":"global.set(\"valor, msg.payload\");\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":420,"wires":[[]]},{"id":"c308aa0b2d0a04c3","type":"function","z":"334e1d72ba5d9ccb","name":"insert/values","func":"var valor = global.get(\"valor\");\nvar sensor = global.get(\"sensor\");\n\nmsg.topic = \"INSERT INTO valores(sensor, valor) VALUES ('\"+sensor+\"', '\" +valor+ \"');\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":480,"wires":[["dd9cafb7d679d538"]]},{"id":"fb3188c0375c61af","type":"ui_text","z":"334e1d72ba5d9ccb","group":"fcdff6bb74428fb8","order":7,"width":0,"height":0,"name":"","label":"Mensaje","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":780,"y":300,"wires":[]},{"id":"ab1552c027380caa","type":"ui_button","z":"334e1d72ba5d9ccb","name":"","group":"fcdff6bb74428fb8","order":5,"width":0,"height":0,"passthru":false,"label":"Actualizar","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":540,"wires":[["b96e17450ddb8e23"]]},{"id":"b63bab64d954d97c","type":"ui_text_input","z":"334e1d72ba5d9ccb","name":"","label":"ID Actualizar","tooltip":"","group":"fcdff6bb74428fb8","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":190,"y":600,"wires":[["207d2a52686826fe"]]},{"id":"207d2a52686826fe","type":"function","z":"334e1d72ba5d9ccb","name":"update/values","func":"var valor = global.get(\"valor\");\nvar sensor = global.get(\"sensor\");\nvar id = global.get(\"id\", \"1\");\n\nmsg.topic = \"UPDATE valores SET sensor = '\"+sensor+\"', valor='\"+valor+\"' WHERE id=\"+id+\";\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":600,"wires":[["dd9cafb7d679d538"]]},{"id":"b96e17450ddb8e23","type":"function","z":"334e1d72ba5d9ccb","name":"setId","func":"global.set(\"id, msg.payload\");\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":540,"wires":[[]]},{"id":"a1ee6dd2b4e4937c","type":"ui_button","z":"334e1d72ba5d9ccb","name":"","group":"fcdff6bb74428fb8","order":6,"width":0,"height":0,"passthru":false,"label":"Eliminar","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":660,"wires":[[]]},{"id":"94ca7296d7727e8d","type":"function","z":"334e1d72ba5d9ccb","name":"delete/values","func":"var valor = global.get(\"valor\");\nvar sensor = global.get(\"sensor\");\nvar id = global.get(\"id\", \"1\");\n\nmsg.topic = \"DELETE FROM valores WHERE id=\"+id+\";\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":660,"wires":[["dd9cafb7d679d538"]]},{"id":"c0532be982dd5a7d","type":"ui_spacer","z":"334e1d72ba5d9ccb","name":"spacer","group":"623096d798848fdd","order":7,"width":1,"height":1},{"id":"4f8989463febdb80","type":"sqlitedb","db":"\\WINDOWS\\system32\\sensores.db","mode":"RWC"},{"id":"fcdff6bb74428fb8","type":"ui_group","name":"Base de Datos","tab":"6b99c8d44fe3c4a0","order":7,"disp":true,"width":"6","collapse":false,"className":""},{"id":"623096d798848fdd","type":"ui_group","name":"Base de Datos ","tab":"","order":7,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6b99c8d44fe3c4a0","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]