EVIDENCIAS AURORA/flows3.json
[{"id":"53c6c25309736918","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"a9168c0598a2b85c","type":"mqtt in","z":"53c6c25309736918","name":"","topic":"carh/casa/distancia","qos":"2","datatype":"auto-detect","broker":"f8ddda756d69a884","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":100,"wires":[["b5b494b910ab0a8e"]]},{"id":"a1c7565358ce8e73","type":"debug","z":"53c6c25309736918","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":100,"wires":[]},{"id":"b5b494b910ab0a8e","type":"function","z":"53c6c25309736918","name":"function 1","func":"var distancia = msg.payload;\n\nmsg.topic = \"INSERT INTO sensor_details (sensor_id, user_id, value)VALUES (1, 2, '\" + distancia + \"');\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":100,"wires":[["97fcbefce2aa5382"]]},{"id":"97fcbefce2aa5382","type":"sqlite","z":"53c6c25309736918","mydb":"32652827aba50cd7","sqlquery":"msg.topic","sql":"","name":"aiot02","x":530,"y":100,"wires":[["a1c7565358ce8e73","f16bc1e91695dcb3"]]},{"id":"989bd92ca0cc7ac5","type":"ui_table","z":"53c6c25309736918","group":"2cdd9616e0611610","name":"","order":1,"width":"20","height":"10","columns":[],"outputs":0,"cts":false,"x":650,"y":220,"wires":[]},{"id":"f16bc1e91695dcb3","type":"sqlite","z":"53c6c25309736918","mydb":"5b0a7b4e1eaf59ae","sqlquery":"fixed","sql":"SELECT * FROM sensor_details;","name":"listar Destalle Sensor","x":460,"y":220,"wires":[["989bd92ca0cc7ac5"]]},{"id":"2458412246537487","type":"mqtt in","z":"53c6c25309736918","name":"","topic":"carh/casa/distancia","qos":"2","datatype":"auto-detect","broker":"f8ddda756d69a884","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":420,"wires":[["4a982ed502cfa235"]]},{"id":"9490abee2fa24a4b","type":"debug","z":"53c6c25309736918","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":420,"wires":[]},{"id":"4a982ed502cfa235","type":"function","z":"53c6c25309736918","name":"function 2","func":"var distancia = msg.payload;\n\nmsg.topic = \"INSERT INTO sensor_details (sensor_id, user_id, value)VALUES (1, 2, '\" + distancia + \"');\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":420,"wires":[["7a7c32ee42cb1913"]]},{"id":"7a7c32ee42cb1913","type":"sqlite","z":"53c6c25309736918","mydb":"4a4887cb5ca30d38","sqlquery":"msg.topic","sql":"","name":"aiot02","x":530,"y":420,"wires":[["9490abee2fa24a4b","fee1b1a975331459"]]},{"id":"0170839e5fcb53fc","type":"ui_table","z":"53c6c25309736918","group":"2cdd9616e0611610","name":"","order":1,"width":"20","height":"10","columns":[],"outputs":0,"cts":false,"x":650,"y":540,"wires":[]},{"id":"fee1b1a975331459","type":"sqlite","z":"53c6c25309736918","mydb":"1711749de247a5ee","sqlquery":"fixed","sql":"SELECT * FROM sensor_details;","name":"listar Destalle Sensor","x":460,"y":540,"wires":[["0170839e5fcb53fc"]]},{"id":"f8ddda756d69a884","type":"mqtt-broker","name":"","broker":"broker.emqx.io","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"32652827aba50cd7","type":"sqlitedb","db":"C:\\sqlite\\aiot02.db","mode":"RWC"},{"id":"2cdd9616e0611610","type":"ui_group","name":"Lista Destalle Sesnor","tab":"8f496d63b3874223","order":2,"disp":true,"width":23,"collapse":false,"className":""},{"id":"5b0a7b4e1eaf59ae","type":"sqlitedb","db":"C:\\sqlite\\aiot02.db","mode":"RWC"},{"id":"4a4887cb5ca30d38","type":"sqlitedb","db":"C:\\sqlite\\aiot02.db","mode":"RWC"},{"id":"1711749de247a5ee","type":"sqlitedb","db":"C:\\sqlite\\aiot02.db","mode":"RWC"},{"id":"8f496d63b3874223","type":"ui_tab","name":"Listar Destalle Sensor","icon":"dashboard","disabled":false,"hidden":false}]